<h2>Star Wars Planeten</h2>

    @if (store.planetsResource.isLoading()) {
      <div class="loader-container"><mat-spinner></mat-spinner></div>
    } @else {
      <div class="planets-grid">
        @for (planet of store.planetsResource.value(); track planet.url) {
          <mat-card class="planet-card">
            <mat-card-header>
              <mat-card-title>{{ planet.name }}</mat-card-title>
              <mat-card-subtitle>Klima: {{ planet.climate }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
              <button mat-flat-button color="primary" [routerLink]="['/planets', extractId(planet.url)]">
                DETAILS
              </button>
            </mat-card-actions>
          </mat-card>
        }
      </div>
    }
